a{
  text-decoration: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.fixed-header {
  z-index: 2;
  -webkit-box-shadow: 0px 2px 109px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 109px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 109px -10px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding-left: 0px;
  position: fixed;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.cont-css {
  padding-bottom: 20px;

  margin-left: 0px;

}

.attendance-1 {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  position: absolute;
  width: 170px;
  top: 30%;
  right: 220px;
}

.attendance-1:hover {
  /* background-color: black;
  color:#ffc107; */
  background-color: #f6d327;
  background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  border: none;
}

.attendance {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  position: absolute;
  top: 30%;
  right: 25px;

}

.attendance:hover {
  /* background-color: black;
  color:#ffc107; */
  background-color: #f6d327;
  background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  border: none;
}

ul {
  margin-left: 10px;

}

.comp-name {

  width: 4.8em;
  position: relative;
  top: 5px
}



.nav {
  padding-top: 11px;

}

.nav-text {
  text-decoration: none;
  font-size: 1.24em;
  font-family: 'Montserrat', sans-serif;
}

.content {
  padding-top: 10px;
  background-color: rgba(255, 0, 0, 0.15);
  margin-top: 108px;
  padding-top: 1.2em;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.p1-content {
  padding: 40px 0 20px 0;
  font-size: 45px;
  font-weight: 700;
  margin: auto;
  width: 75%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #434343, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.p2-content {
  padding-top: 15px;
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #ffefba, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.p3-content {
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #ffefba, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.p4-content {
  margin: auto;
  padding: 30px 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  width: 70%;

}

.p5-content {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

hr {

  border-style: solid;
  width: 75%;
  height: 1.5px !important;
  margin: auto;
  background-color: black
}

.carousel-size {
  margin: 0;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
  height: 550px;

}

.carousel-item {
  z-index: 1;
  color: white;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.car-img {
  height: 200px;
  width: 200px;
  position: relative;
  padding-bottom: 20px;

}

.car-h1 {
  background: linear-gradient(to right, #434343, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

  margin: auto;
  padding-bottom: 20px;

}

.py-3 {

  margin-top: 0 !important;

  margin-bottom: 0 !important;
  background-color: #434343;

}
.nav-text::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav-text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-text::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background:linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  opacity: 0.75;
  z-index: -1;
  transition: transform .3s ease;
}

.nav-text {
  position: relative;
  font-size: 1.4em;
}


/* <!-------------TOP Button  -----------> */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 12px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;

  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#myBtn:hover {
  background-color: white;
  color: black;
}

.header-icon {
  margin-right: 6px;
}

.car-icon {
  color: white;
  padding-top: 15px;
  padding-right: 10px;


}

.container-fluid {
  margin: 0;
  padding: 0;
}

/*--------------LINK STYLE --------------*/

@media screen and (max-width: 900px) {
  .container-fluid {
    margin: auto;
    width: 100%;
    text-align: center;

  }
}

@media screen and (max-width: 900px) {
  .fixed-header {
    padding-left: 45px !important;

  }
}

@media screen and (max-width: 900px) {
  .attendance {

    position: relative;
    left: 10px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;

  }
}

@media screen and (max-width: 900px) {
  .attendance-1 {

    position: relative;
    left: 10px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;

    text-align: center;

  }
}

@media screen and (max-width: 900px) {
  .content {
    padding-top: 100px;
    width: 100%;
    text-align: center;

  }
}

@media screen and (max-width: 900px) {
  .comp-name {

    padding-left: 20px;
    width: 6em;



  }
}





/* ----------------------GIF Background------------- */


body {
  background-color: rgba(255, 0, 0, 0.2);
  overflow-x: hidden;


  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0 !important;
  padding: 0 !important;

  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}

body::-webkit-scrollbar {
  width: 8px;             
}

body::-webkit-scrollbar-track {
  background: gray;      
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #434343, #000000);    
  border-radius: 20px;       
  border: 1px solid black;  
}